.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.modal-container {
  /* position: fixed;
  left: 50px;
  right: 50px;
  transform: translate(-50%, -50%); */
  z-index: 1000;
  /* min-height: 100vh; */
  background: linear-gradient(to right, rgb(247, 222, 226), pink);
  min-width: 25rem;
  height: 20rem;
  padding: 3rem;
  border-radius: 12px;
  border: 1px solid black;
  position: relative;
  transition: all ease 0.5s;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.cross-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
